@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
/* font tirada do gogle aula html17*/
font-size:20pt;

body {
 background-color: darksalmon;
 color: rgb(23, 22, 23)
 backg

}
p{
  text-align: justify;
  text-indent: 50px;
  color: rgb(0, 0, 0);
  font-size: 15pt;

}
 header#cabecalho img#icon { /* consiguração da imagem da MONICA*/
 position: relative; /* a imagem relative fica fixa no texto já a absolute fica movel*/
 left: 800px;
 top: -150px
}
 header#cabecalho h1{
  font-family: 'Cabin Sketch', cursive;/* font tirada do gogle aula html17*/
  font-size: 60pt;
  text-shadow: 8px 2px 2px cornflowerblue; /* sombra do titulo*/

}

 header#cabecalho h2 {
 font-style: arial; color: rgb(227, 241, 207);
 font-size: 25pt;
 text-shadow: 1px 1px 1px purple;
 padding: 20px;
 margin-bottom:50px; 
 margin-top: -64px ;
}
header#cabecalho {
 border-bottom: 6px green dashed;
 height: 150px;
 background:url(arco.jpg) /*no-repeat*/;  /*fazer uma imagem em forma de capa*/
}

div#interface { /* margem do site area externa*/
  width: 900px;
  background-color: rgb(241, 223, 131);
  margin: 20px auto 10px auto; /* margem do site*/
  box-shadow: 0px 0px 0px 20px rgb(220, 146, 249);
  padding: 10px 10px 10px 10px ; /* formatação do texo */
}
figure.foto-legenda img {
  border: 8px solid white; /*  borda*/
  box-shadow: 5px 5px  4px rgb(226, 115, 63); /* sombra*/
}
figure.foto-legenda  figcaption {
  opacity: 0;
  position: relative; 
  top: 10px;
  width: 50%;
  height: 35%;
  color: rgb(251, 251, 251);
  background-color: rgb(0, 0, 0, .4);
  padding: 5px;
  box-sizing: border-box;
  transition:opacity 1s ;
}
figure.foto-legenda:hover figcaption{
  opacity: 1;
}
nav#menu ul{
  list-style:none; /* para tirar osmarcadores*/
  text-transform: uppercase ; /* para transformar tudo em letra maiúscula*/
  position: absolute;/* para colocar o menu na barra de cima*/
  top: -5px;
  left: 300px;
}
nav#menu li {
  display: inline-block; /* para o menu ficar na hoorizontal*/
  background-color: rgb(245, 189, 163) ;
  padding: 4px; /* espaço em volta do nome*/
  margin: 2px;  /* espaçamento entre os topicos*/
  transition: background-color 2 s;
} 
nav#menu li:hover { /* para wuando passar o mouse em cima do menu*/
  background-color: rgb(218, 96, 96); /* troca de cor*/
}

nav#menu h1{
  display: none;
} 
nav#menu a {
color: rgba(242, 56, 56, 0.577);
text-decoration: none ;
}
nav#menu a:hover { /* cor do menu*/
  color: rgb(168, 201, 36);/* mudar cor da letra quando o mouse passa*/

}
section#corpo { /* parte direita*/
  display: block;
  width: 350px;
  float: left;
  border-right: 5px dashed red;
  padding-right: 40px;
}
aside#lateral{/* parte esquerda*/
  display: block;
  width: 400px;
  float: right;


}
footer#rodape {
  clear:both;
  border-top: 1px dashed rgb(201, 39, 66);
}
table#tabela{
  border: 1px solid green;
  border-spacing: 0px;
  margin-left: auto;
  margin-left: auto;

}
table#tabela td{
  border: 1px solid #008000;
  padding: 10px;
text-align: center;
}
table#tabela caption span { /* para o nome datamaio em cima da tabela*/
  display: block;
  float: right;
  color: brown;
  font-size: 8pt;
  margin-top: 10px;
}
a {
  color: rgb(27, 51, 237);
  text-decoration: none;
}